.doubles-container{  
    padding-bottom: 40px;
}
.doubles-container h2{
    text-align: center;
    color: #003580;
    font-size: 2rem;
    font-weight: 900;
}
.doubles-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}